[submodule "pin_mode/libdft64"]
	path = pin_mode/libdft64
	url = https://github.com/AngoraFuzzer/libdft64.git
[submodule "Reusing-unibench_build"]
	path = Reusing-unibench_build
	url = https://github.com/lysgoup/Reusing-unibench_build.git
